.plait-board-container {
    .text {
        foreignObject {
            overflow: visible;
            &::-webkit-scrollbar {
                display: none;
            }
            scrollbar-width: none;
        }
    }
}

.plait-text-container {
    font-size: 14px;
    min-height: 1.4em;
    line-height: 1.4;
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'PingFang SC', 'Noto Sans', 'Noto Sans CJK SC', 'Microsoft Yahei', 'Hiragino Sans GB', Arial, sans-serif;
    width: 100%;
    max-width: 100%;
    height: auto;
    overflow: visible;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.slate-editable-container {
    outline: none;
    padding: 0;
    cursor: default;
    & [data-slate-node='element'] {
        user-select: none;
    }
    &[contenteditable="true"] {
        cursor: text;
        & [data-slate-node='element'] {
            user-select: text;
        }
    }
}
